<ion-header>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
        <ion-back-button icon="md-arrow-back" ></ion-back-button>
          </ion-buttons>
      <ion-title>Calculadora</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
	
	<h4><b>Porções</b></h4>

	<ion-list no-lines>

		<ion-item>
			<div>Mandioca Frita</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
		</ion-item>
		<ion-item>
			<div>Batata Frita</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
		</ion-item>
		<ion-item>
			<div>Amendoim</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
		</ion-item>
		<ion-item>
			<div>Torresmo</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
		</ion-item>
		<ion-item>
			<div>Linguiça Acebolada</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
		</ion-item>
		<ion-item>
			<div>Bolinho de Arroz</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
		</ion-item>
		<ion-item>
			<div>Frango a Passarinho</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
		</ion-item>
		<ion-item>
			<div>Medalhão de Frango</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
		</ion-item>
		<ion-item>
			<div>Polenta Frita</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
		</ion-item>
		<ion-item>
			<div>Bolinho de Bacalhau</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
		</ion-item>
		<ion-item>
			<div>Espetinho</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
		</ion-item>
		<ion-item>
			<div>Tilápia Frita</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
		</ion-item>
		<ion-item>
			<div>Batata rústica</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
		</ion-item>
		<ion-item>
			<div>Iscas de Filé</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
		</ion-item>
		<ion-item>
			<div>Azeitona Temperada</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
		</ion-item>
		<ion-item>
			<div>Tábua de Frios</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
		</ion-item>
	</ion-list>
</ion-content>

<ion-footer class="ion-padding-bottom">
	<ion-button class="ion-button" expand="block" color="light" (click)="formCalculadoraf()">Continuar</ion-button>
</ion-footer>  
