<ion-header>
  <ion-toolbar color="light">
    <ion-title>Buffet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-grid>
        
        <ion-row>
          <ion-col size="7">
            <div align="center"><b>Alimento</b></div>
          </ion-col>
          <ion-col>
            <div align="center"><b>Quantidade</b></div>
          </ion-col>
        </ion-row>



        <ion-row>
          <ion-col size="7">
            <div>Bolinha de Queijo</div>
          </ion-col>
          <ion-col>
            <div align="right">100</div>
          </ion-col>
          <ion-col>
            <div>Unid.</div>
          </ion-col>
          <ion-col>
            <div align="center"><ion-checkbox color="light"></ion-checkbox></div>
          </ion-col>
        </ion-row>



		<ion-row>
          <ion-col>
            <div>1 of 4</div>
          </ion-col>
          <ion-col>
            <div>2 of 4</div>
          </ion-col>
          <ion-col>
            <div>3 of 4</div>
          </ion-col>
          <ion-col>
            <div>4 of 4</div>
          </ion-col>
        </ion-row>


		<ion-row>
          <ion-col>
            <div>1 of 4</div>
          </ion-col>
          <ion-col>
            <div>2 of 4</div>
          </ion-col>
          <ion-col>
            <div>3 of 4</div>
          </ion-col>
          <ion-col>
            <div>4 of 4</div>
          </ion-col>
        </ion-row>

      </ion-grid>

</ion-content>
