<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button icon="md-arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Convidados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-searchbar placeholder="Pesquisar convidado..." cancelButtonText="Cancelar" animated></ion-searchbar>
    <ion-button class="ion-button" expand="block" color="light">Pesquisar</ion-button>
  </form>
  <ion-list>
    <ion-item-sliding *ngFor="let convidado of convidados">
      <ion-card>
        <ion-item>
          <ion-card-title>{{convidados.nome_convidado}}</ion-card-title>
          <ion-icon color="light" name="trash" slot="end">
          </ion-icon>
          <ion-checkbox slot="end" color="light" border-color="light"></ion-checkbox>
        </ion-item>

        <ion-card-content>{{convidados.tipo_convidado}}</ion-card-content>
      </ion-card>
    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-footer 	translucent="true" class="ion-padding-bottom">
  <ion-button class="ion-button" color="light" expand="block" (click)="goToAdicionarConvidados()">
    Adicionar Convidados
  </ion-button>
</ion-footer>