<ion-header>
  <ion-toolbar color="light">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Evento</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)=EditarEvento()>
      <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
    <ion-card-title >{{NomeEvento}}</ion-card-title>
    <ion-icon color="light" name="trash" slot="end" (click)="confirmar()"></ion-icon>
  </ion-item>
  <ion-item lines="none">
    <h5>Informações do(a) {{TipoEvento}}</h5>
  </ion-item>
  <ion-card-content>
    O evento {{NomeEvento}} começará no dia {{dia1}}/{{mes1}}/{{year1}} às {{hora1}}:{{minuto1}} e terminará às
  </ion-card-content>
    <br>
    <br>
    <ion-item lines="none">
      <h5>Local</h5>
    </ion-item>
    <ion-card-content>
    {{CEP}}
    <br>
    {{Cidade}} - {{Estado}}
    <br>
    {{Bairro}}
    <br>
    {{Endereco}}, {{Numero}}
    <br>
    {{Complemento}}
  </ion-card-content>
  </ion-card>
</ion-content>
