<ion-header>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
        <ion-back-button icon="md-arrow-back" ></ion-back-button>
          </ion-buttons>
      <ion-title>Calculadora</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
	
    <h4><b>Doces</b></h4>
  
    <ion-list no-lines>
  
      <ion-item>
        <div>Brigadeiro</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Beijinho</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Bicho de Pé</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Bem Casado</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Brigadeiro de Colher</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Bolo</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Torta</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Palha Italiana</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Maçã do Amor</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Quindim</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Pudim</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Petit Gateau</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Donuts</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Cupcake</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-content>
  
  <ion-footer class="ion-padding-bottom">
    <ion-button class="ion-button" expand="block" color="light" (click)="formCalculadorah()">Continuar</ion-button>
  </ion-footer>  
  
