<ion-header>
  <ion-toolbar color="light">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Calculadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	
	<h4>Comidas de festa</h4>

	<ion-list no-lines>

		<ion-item>
		<ion-checkbox color="dark"></ion-checkbox>
		</ion-item>
		<ion-item>
		<ion-checkbox color="dark"></ion-checkbox>
		</ion-item>

		<ion-checkbox color="dark"></ion-checkbox>
		<ion-checkbox color="dark"></ion-checkbox>
		<ion-checkbox color="dark"></ion-checkbox>


	</ion-list>
	<ion-footer class="ion-padding-bottom">
<ion-button class="ion-button" expand="block" padding color="light" (click)="formCalculadorad()">Continuar</ion-button>
</ion-footer>  

</ion-content>