<ion-header>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
        <ion-back-button icon="md-arrow-back" ></ion-back-button>
          </ion-buttons>
      <ion-title>Calculadora</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
    <h4><b>Comidas de Churrasco</b></h4>

    <ion-list no-lines>
  
       <h4>Boi</h4>

      <ion-item>
        <div>Alcatra</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Maminha</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Picanha</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Contrafilé</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Fraldinha</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>

      <h4>Porco</h4>

      <ion-item>
        <div>Pernil</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Picanha Suína</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Lombo</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Costelinha</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Panceta</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>

      <h4>Frango</h4>

      <ion-item>
        <div>Coxinha da asa</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Asinha</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Coração</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>

      <h4>Outros</h4>

      <ion-item>
        <div>Linguiça para Churrasco</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Salsichão</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Linguiça Toscana</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Pão de Alho</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Queijo Coalho</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Sal Grosso</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer class="ion-padding-bottom">
			<ion-button class="ion-button" expand="block" color="light" (click)="formCalculadorae()">Continuar</ion-button>
	</ion-footer> 
