<ion-header>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
        <ion-back-button icon="md-arrow-back" ></ion-back-button>
          </ion-buttons>
      <ion-title>Calculadora</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
	
    <h4><b>Bebidas</b></h4>
  
    <ion-list no-lines>
  
      <ion-item>
        <div>Cerveja</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Refrigerante</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Suco</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Água</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Cachaça</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <div>Vodka</div><ion-checkbox color="light"  slot="end"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-content>
  
  <ion-footer class="ion-padding-bottom">
    <ion-button class="ion-button" expand="block" color="light" (click)="formCalculadorag()">Continuar</ion-button>
  </ion-footer>  
  
